.buttonInner {
  border: 2px solid transparent;
  transition: color var(--color-transition-function)
}

.buttonRoot:hover .buttonInner {
  transition: color var(--color-transition-function), border-bottom-color var(--color-transition-function);

  border-bottom: 2px solid var(--mantine-primary-color-filled);
  
}
